<h1>Todos os Kits de Produtos</h1>
<div class="row">
  <div class="col-4 vrr-dark-gray">
    <%= render 'admin/sidebar' %>
  </div>

  <div class="col-8">
    <% @product_kits&.each do |kit| %>
      <%= link_to kit.name, admin_product_kit_path(kit) %>
    <% end %>
  </div>
</div>
