<h1>Todos os Kits de Produtos</h1>
<%= link_to 'Adicionar novo Kit de produtos', new_admin_product_kit_path %>
<% @product_kits&.each do |kit| %>
  <%= link_to kit.name, admin_product_kit_path(kit) %>
<% end %>