<nav>
  <ul id="admin">
    <% #TODO Refatorar Dashboard/Admin - Navbar %>
    <li> <%= link_to 'Cadastrar transportadora', new_carrier_path %> </li>
    <li> <%= link_to 'Transportadoras cadastradas', carriers_path %> </li>
    <li> <%= link_to 'Dashboard', admin_dashboard_path %> </li>
  </ul>
</nav>
