<nav>
  <ul id="client">
    <% if client_signed_in? %>
      <li><%= link_to 'Ver Carrinho', cart_path %></li>
      <li><%= link_to 'Sair', destroy_client_session_path, method: :delete, class: 'nav-link' %></li>
    <% else %>
      <li><%= link_to 'Entrar', new_client_session_path %></li>
    <% end %>
  </ul>
</nav>

  
  

  
