<h1>Kits de produtos:</h1>

  <% if @product_kits.empty? %>
    <p><h3>Não há kits disponíveis no momento!</p></h3>
  <% end %>

  <%= @product_kits.each do |kit| %>
     <p><%= link_to kit.name, product_kit_path(kit) %></p>
  <% end %>
