<h1>Caro(a) <%= @client.name %>, bem vindo ao Portal Solar!</h1>
    <p>
      Seu cadastro foi efetivado com sucesso, agora você pode aproveitar os melhores preços e promoções em paineis solares.<br>
    </p>
    
    <p>Seja bem vindo e tenha um ótimo dia!</p>
